.explore-menu {
    display: flex;
    height: 130px;
    justify-content: space-evenly;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 25px;
}

.explore-menu::-webkit-scrollbar {
    display: none;
}

.explore-item {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.explore-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 170px;
    cursor: pointer;

}

.explore_card {
    border-radius: 0;
    border: none;

}

.explore_card h1 {
    text-align: center;
    color: rgb(46, 46, 46);
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 20px;
}

.explore_card h1 span {
    text-align: center;
    color: orangered;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.explore-item .active {
    border: 4px solid tomato;
    padding: 2px;
}

.explore-item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 2px solid green;
    border-radius: 50%;
    display: block;
    margin-top: 20px;
}

.explore-item p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #222831;

}

@media(max-width: 1140px) {


    .explore-item {
        display: flex;
        margin-right: 10px;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px - 20px, rgba(0, 0, 0, 0.3) 0px 30px 60px - 30px, rgba(10, 37, 64, 0.35) 0px - 2px 6px 0px inset;
        border-radius: 20px;
        border-radius: 20px;
        height: 130px;
        width: 140px;
        cursor: pointer;
    }

    .explore-item img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 2px solid green;
        border-radius: 50%;
        display: block;

    }

    .explore-item p {
        margin-top: 10px;
        margin-right: 5px;
        font-size: 1rem;
        font-weight: 500;
    }
}

@media(max-width: 1200px) {
    .explore_card h1 {
        margin-bottom: 35px;
    }
}

@media(max-width: 992px) {
    .explore_card h1 {
        margin-bottom: 30px;
    }

    .explore-menu p {
        font-size: 0.9rem;
    }
}

@media(max-width: 767px) {
    .explore_card h1 {
        margin-bottom: 25px;
    }

    .explore-menu p {
        font-size: 0.8rem;
    }

}