

.blog_row {
    height: 160px;
    color: #fff;
    background-color: #263d2f;
}

.blog_container img {
    filter: drop-shadow(-4px 31px 19px #000000);
}

@media (max-width: 575px) {
    .blog_container img {
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

@media (max-width:767px) {
    .blog_text {
        font-size: 0.8rem;
    }
}