.blog_container {
    margin-top: 78px;
}

.blog_row {
    height: 190px;
    background-image: linear-gradient(to top, #1A5319, #508D4E, #80AF81, #D6EFD8);
}

.blog_container img {
    filter: drop-shadow(-4px 31px 19px #000000);
}

@media (max-width: 575px) {
    .blog_container img {
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

@media (max-width:767px) {
    .blog_text {
        font-size: 0.8rem;
    }
}