 .search_card img {
     width: 150px;
     height: 150px;
     object-fit: cover;
     filter: drop-shadow(2px 5px 5px #282828);

 }
.search_card{
    width: 280px;
}

 .product_row {
     margin-top: 135px;
     margin-bottom: 135px;
     height: 500px;
 }

 .search_card,
 .product_card_body {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .wishlist-icon {
     opacity: 0;
     transition: opacity 0.3s ease;
     font-size: 1.5rem;
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.7);
     border-radius: 50%;
     padding: 5px;
 }

 .search_card:hover,
 .wishlist-icon {
     opacity: 1;
 }

 .wishlist-icon:hover {
     background-color: rgba(255, 255, 255, 1);
 }

 @media (max-width:1200px) {
     .search_card {
         height: 280px;
     }

     .search_card img {
         height: auto;
         width: 125px;
     }

     .product_card_body .card-title {
         font-size: 0.95rem;
     }
 }

 @media (max-width:992px) {
     .search_card {
         width: 300px;
         height: 320px;
     }

     .search_card img {
         height: 140px;
     }

     .product_card_body .card-title {
         font-size: 1.4rem;
     }

     .cards_top_div {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }
 }

 @media (max-width: 767px) {

     .search_card {
         width: 260px;
     }

     .product_card_body {
         text-align: center;
     }

     .search_card img {
         height: 130px;
     }
 }

 @media (max-width:575px) {

     .search_card {
         height: 280px;
         width: 280px;
     }

     .search_card img {
         height: auto;
         width: 130px;
     }

     .cards_top_div {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }

 }