 .product_card img {
     width: 150px;
     height: 150px;
     object-fit: cover;
     filter: drop-shadow(2px 5px 5px #282828);

 }

 .product_container {
     margin-top: 25px;
 }

 .product_card,
 .product_card_body {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .wishlist-icon {
     opacity: 0;
     transition: opacity 0.3s ease;
     font-size: 1.5rem;
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.7);
     border-radius: 50%;
     padding: 5px;
 }

 .product_card:hover,
 .wishlist-icon {
     opacity: 1;
 }

 .wishlist-icon:hover {
     background-color: rgba(255, 255, 255, 1);
 }

.wishlist-tooltip,
.view-tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-10px, -50%);
    background-color: #0c8651;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    display: block;
}

 @media (max-width:1200px) {
     .product_card {
         height: 280px;
     }

     .product_card img {
         height: auto;
         width: 125px;
     }

     .product_card_body .card-title {
         font-size: 0.95rem;
     }
 }

 @media (max-width:992px) {
     .product_card {
         width: 300px;
         height: 320px;
     }

     .product_card img {
         height: 140px;
     }

     .product_card_body .card-title {
         font-size: 1.4rem;
     }

     .cards_top_div {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }
 }

 @media (max-width: 767px) {

     .product_card {
         width: 260px;
     }

     .product_card_body {
         text-align: center;
     }

     .product_card img {
         height: 130px;
     }
 }

 @media (max-width:575px) {

     .product_card {
         height: 320px;
         width: 300px;
     }

     .product_card img {
         height: auto;
         width: 130px;
     }

     .cards_top_div {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }

 }