* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    margin-top: 88px;
    background-color: #6b9153;
}

.first-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.first-col h1 {
    font-size: 3.3rem;
    font-weight: 900;
    color: #fff;
}

.first-col h1 span {
    color: rgb(4, 90, 4);
}

.first-col .hero_btn {
    height: 50px;
    width: 170px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    background-color: #243f2f;
    color: #fff;
    border: none;
    border-radius: 25px;
}

.first-col .hero_btn:hover,
.hero_btn:active {
    background-color: white;
    color: #000;
    border: none;
}

.second-col {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
}

.second-col img {
    margin-top: 40px;
    height: 350px;
    width: 350px;
}

@media (max-width:1200px) {
    .first-col h1 {
        font-size: 2.8rem;
    }

    .second-col img {
        margin-top: 30px;
        height: 300px;
        width: 300px;
    }
}

@media (max-width:992px) {
    .first-col h1 {
        font-size: 2.1rem;
    }


    .first-col .hero_btn {
        height: 40px;
        width: 140px;
        font-size: 0.9rem;
    }

    .second-col img {
        margin-top: 30px;
        height: 270px;
        width: 270px;
    }
}

@media (max-width:767px) {
    .first-col h1 {
        font-size: 2.5rem;
    }

    .first-col .hero_btn {
        height: 42px;
        width: 140px;
        font-size: 0.9rem;
    }
    .banner{
        margin-top: 73px;
    }

    .first-col {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .second-col {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .second-col img {
        margin-top: 30px;
        height: 320px;
        width: 330px;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:576px) {

    .first-col h1 {
        font-size: 2.3rem;
    }

    .first-col{
        width: 100%;
    }

    .first-col .hero_btn {
        height: 42px;
        width: 140px;
        font-size: 0.9rem;
    }

    .second-col img {
        margin-top: 30px;
        height: 250px;
        width: 250px;
    }
}