 .product_card img {
     width: 100%;
     height: 200px;
     object-fit: cover;
     filter: drop-shadow(2px 5px 5px #282828);
     
 }
 .product_card{
    transition: 1s ease;
 }
.product_card:hover{
    transform:scale(1.045);
}
 .product_container {
     margin-top: 25px;
 }

 .product_card,
 .product_card_body {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }


 .wishlist-icon {
     opacity: 0;
     transition: opacity 0.3s ease;
     font-size: 1.5rem;
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.7);
     border-radius: 50%;
     padding: 5px;
 }


 .product_card:hover,
 .wishlist-icon {
     opacity: 1;
 }


 .wishlist-icon:hover {
     background-color: rgba(255, 255, 255, 1);
 }




 @media (max-width:992px) {
     .product_card img {
         height: 150px;
     }
 }

 @media (max-width: 768px) {
     .product_card_body {
         text-align: center;
     }

     .product_card img {
         height: 130px;
     }
 }

 @media (max-width:575px) {
     .product_card img {

         height: auto;
     }
 }