.wish_row {
   margin-top: 89px;
}

.empty_wish_row {
    margin-top: 90px;
}
.empty_wish_row img{
    height: auto;
    width:350px;
}
@media (max-width:576px){
    .empty_wish_row img {
            height: auto;
            width: 310px;
        }
}