.wish_row {
    margin-top: 70px;
}

.empty_wish_row {
    margin-top: 70px;
}

.empty_wish_row img {
    height: auto;
    width: 350px;
}

@media (max-width:992px) {
    .product_card {
        height: auto;
        width: 220px;
    }
}

@media (max-width:576px) {
    .empty_wish_row img {
        height: auto;
        width: 310px;
    }

    .wishlist_columns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}