.cart-item-card {
    border: none;
    background-color: #d3e4f4;
    transition: transform 0.2s ease;
}

.cart-item-card:hover {
    transform: scale(1.02);
}

.quantity-controls button {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 1.2rem;
}
.remove_btn{
    background-color: red;
    border-color: black;
}
.remove_btn:hover{
    background-color: transparent;
    color: red;
    border-color: black;
}

.cart-summary {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
}

.cart-summary button {
    height: 40px;
    width: 200px;
    background-color: green;
    border-radius: 25px;
    font-weight: 600;
}

.bag {
    height: 270px;
    width: 295px;
    margin-top: 15px;
}

.heading_text {
    margin-top: 120px;
    font-size: 2rem;
    font-weight: bold;
}

hr {
    height: 20px;
}


@media (max-width:767px) {
    .cart-summary h4 {
        font-size: 1rem;
    }

    .cart-summary button {
        height: 35px;
        width: 170px;
        font-size: 0.8rem;
    }
    .cart-item-card{
       gap: 20px;
    }
}

@media (max-width:576px) {
    .cart-summary {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .heading_text {
        text-align: center;
    }

    .cart_column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cart-item-card {
        height: 290px;
        gap: 0px;
    }

}