* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.feature_product h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(46, 46, 46);
    margin-top: 40px;
    margin-bottom: 20px;
}

.feature_product h1 span {
    text-align: center;
    font-weight: bold;
    color: orangered;
}

.card img {
    width: 60%;
    height: auto;
}

.badge {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    background-color: orangered;
}


/* Card styling */
.featured-card {
    background-color: #d1d6c0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
}

.card-text {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: calc(2 * 1.5em);
}

@media (max-width:1200px) {

    .card img {
        max-width: 170px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .card img {
        max-width: 200px;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .card img {
        max-width: 180px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
    }
}

/* Adjust card size for col-1 */
@media (max-width: 576px) {
    .col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card {
        height: 370px;
        width: 310px;

    }

    .card img {
        height: auto;
        width: 200px;
    }

    .card-title {
        font-size: 1.5rem;
    }

}

/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Popup Content */
.popup-content {
    display: flex;
    height: 400px;
    width: 70%;
    max-width: 900px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    gap: 20px;
    position: relative;
}

/* Close Button */
.btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px 10px 0px 0px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* image section */
.popup-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.popup-left img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.popup-left .collage-row {
    display: flex;
    gap: 10px;
}

.popup-left .collage-row img {
    flex: 1;
    height: 90px;
}

/* Title and description section */
.popup-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    background-color: #8EC5FC;
    border-radius: 20px;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.popup-right h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.popup-right p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4;

}

@media (max-width:1200px) {

    .popup-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-left .main_img {
        height: auto;
        width: 180px;

    }

    .collage-row img {
        height: auto;
        width: 80px;
    }

    .popup-right h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .popup-right p {
        font-size: 1rem;
        line-height: 1.5;

    }
}

@media (max-width:992px) {
    .popup-content {
        flex-direction: column;
        height: auto;
        width: 350px;
    }

    .popup-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-left .main_img {
        height: auto;
        width: 120px;

    }

    .collage-row img {
        height: auto;
        width: 70px;
    }

    .popup-right h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .popup-right p {
        font-size: 0.9rem;
        line-height: 1.3;

    }
}


@media (max-width:767px) {
    .popup-content {
        flex-direction: column;
    }

    .popup-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-left .main_img {
        height: auto;
        width: 110px;

    }

    .collage-row img {
        height: auto;
        width: 72px;
    }

    .popup-right h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .popup-right p {
        font-size: 0.9rem;
        line-height: 1.3;

    }
}

@media (max-width:576px) {
    .popup-content {
        flex-direction: column;
        width: 300px;
    }

    .popup-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-left .main_img {
        height: auto;
        width: 110px;

    }

    .collage-row img {
        display: none;
    }

    .popup-right h2 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .popup-right p {
        font-size: 0.7rem;
        line-height: 1.3;

    }
}