@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.delivery_banner h1 {
    color: green;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 25px;
}

.delivery_banner span {
    color: orangered;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 25px;

}

.delivery_banner p {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 25px;
}

.deliver_row {
    background-color: #C0EBA6;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
}


@media (max-width:992px) {
    .delivery_banner h1 {
        font-size: 2.6rem;
    }

    .delivery_banner span {
        font-size: 2.6rem;
    }

    .delivery_banner p {
        font-size: 1.1rem;
    }
}

@media (max-width:767px) {
    .delivery_banner {
        padding-top: 20px;
    }

    .delivery_banner h1 {
        font-size: 2.8rem;
    }

    .delivery_banner span {
        font-size: 2.8rem;
    }

    .delivery_banner p {
        font-size: 1.2rem;
    }
}

@media (max-width:576px) {
    .delivery_banner {
        padding-top: 20px;
    }
    .delivery_banner h1 {
        font-size: 2.8rem;
    }

    .delivery_banner span {
        font-size: 2.8rem;
    }

    .delivery_banner p {
        font-size: 1.2rem;
    }
    .delivery-boy-img{
        width: 400px;
        height: auto;
    }

}