@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.delivery_banner h1 {
    color: green;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Permanent Marker", cursive;
    margin-left: 25px;
}

.delivery_banner h1 span {
    color: orangered;
    font-family: "Permanent Marker", cursive;
    margin-left: 25px;

}

.delivery_banner p {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 25px;

}

.deliver_row {
    background-color: #C0EBA6;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
}