@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.delivery_banner h1 {
    color: green;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 25px;
}

.delivery_banner h1 span {
    color: orangered;
    margin-left: 25px;

}

.delivery_banner p {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 25px;

}

.deliver_row {
    background-color: #C0EBA6;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.img_div {
    position: relative;
}

.outer_img_div::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.outer_img_div img {
    height: auto;
    width: 60px;
    margin-left: 80px;
    padding-bottom: 30px;
}

@media (max-width:992px) {
    .delivery_banner h1 {
        font-size: 2.7rem;
    }

    .delivery_banner p {
        font-size: 1.1rem;
    }
}

@media (max-width:767px) {
    .delivery_banner {
        padding-top: 20px;
    }

    .delivery_banner h1 {
        font-size: 2.8rem;
    }

    .delivery_banner p {
        font-size: 1.2rem;
    }
}

@media (max-width:576px) {
    .delivery_banner {
        padding-top: 20px;
    }

    .delivery_banner h1 {
        font-size: 2.8rem;
    }

    .delivery_banner p {
        font-size: 1.2rem;
    }
}