 .card-box {
     height: 100%;
     width: 100%;
     margin-top: 60px;
 }

 .card-box h1 {
     text-align: center;
     font-weight: bold;
     color: rgb(46, 46, 46);
     margin-bottom: 20px;

 }

 .card-box h1 span {
     text-align: center;
     font-weight: bold;
     color: orangered;
 }

 .cards {
     padding: 10px 0 0 0;
     margin-bottom: 25px;
     display: flex;
     justify-content: center;
 }

 .card-create {
     padding-top: 15px;
     border-radius: 15px;
     height: 200px;
     width: 280px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #2f353d;
     background-size: cover;
     position: relative;
 }

 .body-card h2 {
     text-align: center;
     color: #EEEEEE;
     font-size: 1.5rem;
     font-weight: 700;
     padding: 0;
 }

 .body-card p {
     color: #EEEEEE;
 }

 .card-ico {
     font-size: 4rem;
     color: #EEEEEE;
 }

 @media (max-width:1200px) {
     .card-create {
         width: 230px;
     }

     .card-create .card-ico {
         font-size: 3rem;
     }
     .body-card h2{
        font-size: 1.2rem;
     }
 }



 @media (max-width:992px) {
     .card-create {
         width: 300px;
     }
 }

 @media (max-width:767px) {
     .card-create {
         width: 250px;
     }
 }


 @media (max-width:575px) {
     .card-create {
         width: 280px;
     }
 }