
.empty_wish_row {
    height: auto;
    width: 300px;
}

.wishlist-container{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fff;
}

@media (max-width:992px) {
    .product_card {
        height: auto;
        width: 220px;
    }
}

@media (max-width:576px) {
    .empty_wish_row {
        height: auto;
        width: 310px;
    }

    .wishlist_columns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}