.explore_card h1 {
    text-align: center;
    /* font-size: 2.5rem; */
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
}

.explore_card h1 span {
    color: orangered;
}

.explore-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.explore-menu::-webkit-scrollbar {
    display: none;
}

.explore-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 150px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

/* Pseudo-element for leaf image on hover */
.explore-box:hover::before {
    content: '';
    position: absolute;
    top: -18px;
    left: -15px;
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/Images/Images/border-image.png');
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.explore-box.active {
    transform: scale(1.1);
    border: 3px solid orangered;
}

.explore-item-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-top: 10px;
}

.explore-box p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #222831;
    text-align: center;
}

.explore-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1140px) {
    .explore-menu {
        gap: 15px;

    }

    .explore-box {
        width: 120px;
        height: 120px;
    }

    .explore-item-img {
        width: 50px;
        height: 50px;
    }

    .explore-box p {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .explore-menu {
        flex-wrap: nowrap;
        /* Prevents wrapping of items */
        overflow-x: auto;
        /* Enables horizontal scrolling */
    }

    .explore-box {
        width: 100px;
        height: 100px;
    }

    .explore-item-img {
        width: 40px;
        height: 40px;
    }

    .explore-box p {
        font-size: 0.8rem;
    }
}

