.success-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1051;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    /* Ensures it's responsive on smaller screens */
    width: auto;
    min-width: 280px;
    /* Sets a minimum width for smaller content */
}

.popup-message {
    margin-right: 10px;
    font-size: 1rem;
    color: #155724;
    /* Adjusting the message color for better visibility */
}

.popup-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.popup-icon {
    font-size: 24px;
    /* Increase the icon size */
}

@media (max-width: 768px) {
    .success-popup {
        top: 10px;
        padding: 10px;
    }

    .popup-message {
        font-size: 0.9rem;
        /* Adjust message font size for smaller screens */
    }

    .popup-icon {
        font-size: 20px;
        /* Adjust icon size for smaller screens */
    }
}

@media (max-width: 576px) {
    .success-popup {
        top: 15px;
        left: 40px;
        right: 10px;
        transform: none;
        max-width: 80%;
        
        /* Take up the full width on smaller screens */
    }

    .popup-message {
        font-size: 0.85rem;
    }
}