.order-details {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fff;
    border-radius: 8px;
}

.order-img {
    max-height: 70px;
    max-width: 120px;
}

.order-no-img {
    max-height: 200px;
    margin-top: 20px;
}

.order-card {
    background-color: #D9DFC6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border: 1px solid black;
}

/* MyOrders.css */
.order-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-popup-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-popup-content textarea {
    resize: vertical;
}

.order-popup-content button {
    width: 100%;
}

@media (min-width: 768px) {
    .order-popup-content {
        flex-direction: row;
        height: 250px;
        justify-content: space-between;
    }

    .order-popup-content button {
        width: 48%;
    }
}