.add {
    color: #495057;
}

.add form {
    margin-top: 10px;
}

.add-img-upload img {
    max-width: 100px;
    height: auto;
    cursor: pointer;
    border: 2px dashed #6c757d;
    border-radius: 10px;
    padding: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s;
}

.add-img-upload img:hover {
    border-color: #28a745;
}

.add label {
    font-weight: bold;
    color: #6c757d;
}

.add button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.add button:hover {
    background-color: #218838;
}