::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;

}

::-webkit-scrollbar-thumb {
    background-color: #888;

    border-radius: 10px;

    border: 2px solid #f4f4f4;

}

::-webkit-scrollbar-thumb:hover {
    background-color: green;
}

