
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #eff5ee';
 
}


.container-fluid-box {
  max-width: 100%;
  overflow: hidden;
}

