.testimonial-title {
    text-align: center;
    color: rgb(46, 46, 46);
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
}

.testimonial-container span {

    text-align: center;
    font-weight: bold;
    color: orangered;
}

.testimonial-container {
    margin-bottom: 70px;
}

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.05);
    margin: 10px;
}

.shadow-effect p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 15px;
    color: #555;
}

.testimonial-name {
    margin: -20px auto 0;
    display: table;
    width: auto;
    background: green;
    padding: 10px 30px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
}


.item {
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.slick-center .item {
    transform: scale(1.05);
}

.slick-slide img {
    transform-style: preserve-3d;
    height: auto;
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto 15px;
}

/* Pagination Dots */
.slick-dots {
    margin-top: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: green;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: green;
}