* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.feature_product h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(46, 46, 46);
    margin-top: 60px;
    margin-bottom: 10px;
}

.feature_product h1 span {
    text-align: center;
    font-weight: bold;
    color: orangered;
}

.card img {
    width: 60%;
    height: auto;
}

.badge {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    background-color: orangered;
}


/* Card styling */
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    /* background-color: rgb(30, 21, 21); */
}

/* Button styling */
.btn {
    background-color: green;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

/* Card title styling */
.card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid green;
}

/* Card text styling */
.card-text {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
}

@media (max-width:1200px) {

    .card img {
        max-width: 170px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}



@media (max-width: 992px) {
    .card img {
        max-width: 200px;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .card img {
        max-width: 180px;
    }

    .card-title {
        font-size: 1rem;
    }
        .card-text {
            font-size: 0.8rem;
        }
}

/* Adjust card size for col-1 */
@media (max-width: 576px) {
    .col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card {
        height: 370px;
        width: 310px;

    }

    .card img {
        height: auto;
        width: 200px;
    }

    .card-title {
        font-size: 1.5rem;
    }

}