* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green-color: #059212;
}

.navbar-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.icon-input{
    color: #4b4b4b;
}
.search-input{
    border-radius: 20px;
    border: 1px solid black;
}
.search-input:focus{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.nav-logo {
    height: 70px;
}

.icon {
    color: var(--green-color);
}

.login-btn {
    padding: 3px 10px;
    border-radius: 20px;
    border: 2px solid #059212;
    background-color: transparent;
    color:green;
}
.login-btn:active,
.login-btn:hover{
    background-color: green;
    color: #fff;
}

.icon:active,
.icon:focus {
    color: orangered;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1000;
    padding: 0.5rem 0;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}




@media (max-width:576px) {
    .navbar-box {
        padding: 0px 10px;
    }
}