 @import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Ribeye&display=swap');

 .banner_row {
     background: #BFEA7C;
     margin-top: 70px;
 }

 .banner_text .first_text {
     font-size: 3.8rem;
     font-family: "Ribeye", serif;
     font-weight: 900;
     color: #ff5e01;
     margin-bottom: 0;
 }

 .banner_text .second_text {
     font-size: 3.8rem;
     font-family: "Lilita One", sans-serif;
     font-weight: 900;
     color: green;
     font-style: normal;
     margin-top: 0;
 }

 .banner_text h5 {
     color: black;
     font-weight: 800;
 }

 .banner_text button {
     margin-top: 10px;
     border-radius: 25px;
     font-size: 1rem;
     font-weight: 700;
     background-color: black;
     color: #fff;
     height: 40px;
     width: 120px;
 }

 .banner_img {
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .banner_img img {
     height: 350px;
     width: 380px;
     filter: drop-shadow(1px 22px 27px #000000);
 }

 @media (max-width:992px) {
     .banner_img img {
         height: 310px;
         width: 310px;
     }

     .banner_text .first_text {
         font-size: 3.2rem;

     }

     .banner_text .second_text {
         font-size: 3.2rem;
     }

     .banner_text h5 {
         color: black;
         font-size: 1rem;
         font-weight: 800;
     }

     .banner_text button {
         font-size: 0.8rem;
         font-weight: 700;
         background-color: black;
         color: #fff;
         height: 35px;
         width: 100px;
     }
 }

 @media (max-width:767px) {
     .banner_img img {
         height: 280px;
         width: 280px;
     }

     .banner_text .first_text {
         font-size: 3rem;
     }

     .banner_text .second_text {
         font-size: 3rem;
     }

     .banner_text h5 {
         color: black;
         font-size: 0.9rem;
         font-weight: 800;
     }

     .banner_text button {
         font-size: 0.6rem;
         font-weight: 700;
         background-color: black;
         color: #fff;
         height: 35px;
         width: 100px;
     }
 }

 @media (max-width:576px) {
     .banner_text .first_text {
         font-size: 3.4rem;
     }

     .banner_text .second_text {
         font-size: 3.4rem;
     }

     .banner_text h5 {
         color: black;
         font-size: 1rem;
         font-weight: 800;
     }

     .banner_text button {
         font-size: 1rem;
         background-color: black;
         color: #fff;
         height: 40px;
         width: 120px;
     }
 }