 .card-box {
     height: 100%;
     width: 100%;
     margin-top: 60px;
 }

 .card-box h1 {
     text-align: center;
     font-weight: bold;
     color: rgb(46, 46, 46);
     margin-bottom: 20px;
 }

 .card-box h1 span {
     text-align: center;
     font-weight: bold;
     color: orangered;
 }

 .cards {
     padding: 10px 0 0 0;
     margin-bottom: 25px;
     display: flex;
     justify-content: center;

 }

 .card-create {
     padding-top: 15px;
     border-radius: 15px;
     height: 200px;
     width: 280px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #2f353d;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
     background-size: cover;
     position: relative;
 }

 .body-card h2 {
     text-align: center;
     color: #2f353d;
     font-size: 1.5rem;
     font-weight: 700;
     padding: 0;
 }

 .body-card p {
     color: #2f353d;
 }

 .card-ico {
     font-size: 3.8rem;
     color: #2f353d;
 }

 @media (max-width:1200px) {
     .card-create {
         width: 230px;
     }

     .card-create .card-ico {
         font-size: 3rem;
     }

     .body-card {
         text-align: center;
     }

     .body-card h2 {
         font-size: 1.2rem;
     }
 }



 @media (max-width:992px) {
     .card-create {
         width: 300px;
     }
 }

 @media (max-width:767px) {
     .card-create {
         width: 250px;
     }
 }


 @media (max-width:575px) {
     .card-create {
         width: 280px;
     }
 }